* {
    font-family: 'Anton', sans-serif;
}

.crete-round {
    font-family: 'Crete Round', serif;
}

body {
    margin: 0;
    background: #000000;
    display: block;
    position: relative;
}

body::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    background-image: linear-gradient(#770000, black), url(../src/texture_background.jpg);
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1000;
}

body.fadeInHalf::after {
    opacity: 0.5;
}


h1 {
    font-size: 9rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

}

.date, .location {
    opacity: 0;
}

.date.fadeIn2, .location.fadeIn2 {
    opacity: 1;
}

h2 {
    font-size: 5rem;
}

strong {
    color: #01d17a;
    font-family: 'Crete Round', serif;
}

ul.crete-round li {
    font-family: 'Crete Round', serif;
}

.text-red {
    color: #f21619;
}

.text-white {
    color: #ffffff;
}

.text-left {
    text-align: left;
}

.text-shadow {
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5)
}

i.fas {
    margin-left: 10px;
}


.jumbotron {
    background: none;
    user-select: none;
    text-align: center;
}

.jumbotron h2 {
    font-size: 3rem;
}

.main-banner {
    display: block;
    position: relative;
    padding: 100px 25px;
}

.main-banner::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    background-image: url(../src/project_k_banner.jpg);
    background-size: 100%;
    background-position: center;
    z-index: -1;
}

.main-banner.fadeIn::after {
    opacity: 1;
}

.countdown {
    text-align: center;
    padding: 2rem;
}

.countdown h2 {
    font-size: 3rem;
}

[class*='tile'] {
    opacity: 0;
}

[class*='tile'].fadeInUp {
    opacity: 1;
}

section {
    max-width: 1280px;
    margin: auto;
}

.content {
    overflow: hidden;
    position: relative;
}

.dj-tile .image-container {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.dj-tile .overlay-bottom {
    padding: 1rem 1rem 1rem 1rem;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(119, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.dj-tile .overlay-top {
    padding: 1rem 1rem 1rem 1rem;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.dj-tile h3 {
    font-size: 2.75rem;
}

[class*='col'] .content {
    height: 400px;
    margin: 1rem 1rem 1rem 1rem;
}

.info-tile {
    height: auto;
}

.info-tile .content {
    height: 100%;
    padding: 1.5rem;
}

.info-tile.spotify .content {
    background: url("../src/club_background.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}

.info-tile.location .content {
    min-height: 300px;
    padding: 0;
}

.location .overlay-bottom {
    pointer-events: none;
}

.info-tile .overlay-bottom {
    padding: 1rem 1rem 1rem 1rem;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(119, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.info-tile .link {
    padding-right: 1rem;
    font-size: 1.5rem;
}

.info-tile.lottery .content {
    background: url("../src/shot_background.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.features .content {
    padding: 1rem 1rem 2rem 1rem;
}

.dj-photo {
    width: 100%;
}

.list-group-item {
    background: #323232;
    font-size: 2rem;
}

.btn.btn-primary {
    background: none;
    border: none;
}

.btn.btn-primary:hover {
    background: none;
}

.faq .container {
    margin: 1rem 0 1rem 0;
}

.faq {
    font-family: 'Crete Round', serif;
}

.faq--title {
    display: block;
    text-align: left;
    width: 100%;
    border: none;
    background: none;
    color: white;
    font-family: 'Crete Round', serif;
}

.faq--title:focus {
    border: none;
    outline: none;
}

.faq-text {
    text-align: left;
    padding-left: 2rem;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    font-family: 'Crete Round', serif;
}

.bg-4 {
    color: #ffffff;
    text-align: center;
    padding: 3rem 3rem 3rem 3rem;
}

.bg-4 a {
    font-size: 2rem;
    display: inline-block;
}

.bg-4 .fab {
    margin-left: 15px;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 10rem;
    }
}
